@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using Artsoft.BusinessLogic.Services.Interfaces
@using Artsoft.Web.Data
@inject WeatherForecastService ForecastService
@inject IProgrammingLanguageService service


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                @*<th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in pl)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.Name</td>
                    @*<td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>*@
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    private IEnumerable<BusinessLogic.Models.ProgrammingLanguage>? pl;

    protected override async Task OnInitializedAsync()
    {
        pl = await service.GetAllAsync(CancellationToken.None);
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
